node_modules/
target/
build/
.settings/
.idea/
.project
.classpath
*.prefs
*.iml
*.log
local.*.properties
**/dbunit/schema.dtd
.DS_Store
/mps.ui/target/
/mps.ui/mps.ui.iml
mps.workshop.ipr
mps.workshop.iws
